*{
    margin: 0;
    padding: 0;
    font-family: Century Gothic;
}

header{
    background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(cloud.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

ul{
    float: right;
    list-style-type: none;
    margin-top: 25px;
}

ul li{
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color: #ffF;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;

}

ul li a:hover{
    background-color: #ffF;
    color: #000;
}

ul li.active a{
    background-color: #ffF;
    color: #000;
}

.logo img{
    float: left;
    width: 200px;
    height: auto;
    margin-top: 10px;
}

.main{
    max-width: 1200px;
    margin: auto;
}

.wrapper{
    height: auto;
    width: 26%;
    border: 1px solid #fff;
    background: rgba(0,0,0,0.8);
    float: left;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);

}

form{
    width: 90%;
}

.input-fields{
    display: flex;
    flex-direction: column;
    margin-right: 4%;
    width: 100%;
  }

.input-fields .input{
    margin: 10px 0;
    background: transparent;
    border: 0px;
    border-bottom: 2px solid #c5ecfd;
    padding: 10px;
    color: #c5ecfd;
    width: 100%;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #c5ecfd;
  }
  ::-moz-placeholder {
    /* Firefox 19+ */
    color: #c5ecfd;
  }
  :-ms-input-placeholder {
    /* IE 10+ */
    color: #c5ecfd;
  }

  .btn {
      background: #39b7dd;
      text-align: center;
      padding: 15px;
      border-radius: 5px;
      color: #fff;
      cursor: pointer;
      text-transform: uppercase;
      width: 40%;
  }

.display{
    height: auto;
    width: 55%;
    border: 1px solid #fff;
    padding: 30px;
    float: left;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    background: rgba(0,0,0,0.8);
    justify-content: center;
    align-items: center;
    margin-right: 1%;
}

.home{
  width: 90%;
  height: 65%;
  position: fixed;
  overflow: auto;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 15px;
}

@media screen and (max-width:1300px){
  .input-fields .input{
      font-size: 10px;
  }
  .error{
    width: 60%;
    left: 20%;
  }
}
@media screen and (max-width:900px){
  .wrapper{
      height: 35%;
      width: 91%;
  }
  .display{
    height: 43%;
    width: auto;
  }
  .input{
    height: 6px;
  }
  .btn{
    height: 10px;
    text-align: center;
    line-height: 5px;
  }
  .input-fields .input{
    font-size: 13px;
  }
  .error{
    width: 80%;
    left: 10%;
    font-size: 13px;
  }
}

.slide-node{
  height: 100%;
  width: 100%;
}

.slidershow{
    width: 100%;
    height: 100%;
    overflow: hidden;

}

.navigation{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }
  .bar{
    width: 50px;
    height: 10px;
    border: 2px solid #fff;
    margin: 6px;
    cursor: pointer;
    transition: 0.4s;
  }
  .bar:hover{
    background: #fff;
  }

  input[name="r"]{
      position: absolute;
      visibility: hidden;
  }

.progress-bar{
    position: relative;
    top: 10%;
    left: 23%;
    width: 50%;
    height: 3em;
    background-color: #111;
    border-radius: 1.5em;
    color: white;
}
.progress-bar::before {
    content: attr(data-label);
    display: flex;
    align-items: center;
    position: absolute;
    left: .5em;
    top: .5em;
    bottom: .5em;
    width: 80%;
    min-width: 2rem;
    max-width: calc(100% - lem);
    background-color: #069;
    border-radius: 1em;
    padding: 1em;
    animation: bar 3s;
}

@keyframes bar {
    0%{
    width: 0%;
    }
    100%{
    width: 80%;
    }
}


.board{
    height: 73%;
    width: 80%;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 15px;
    background: rgba(0,0,0,0.9);
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    overflow: auto;

}

.tab{
    width: 100%;
    height: 100%;
    background: black;
}

.pos{
    position: fixed;
    top: 90%;
    background: white;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    color: black;
    cursor: pointer;
    text-transform: uppercase;
    width: 40%;
    font-size: 20px;
    text-shadow: 0 0 10px #fff000;
    font-weight: bold;
    letter-spacing: 2px;
}

.bots{
    width: 80%;
    top: 90%;
    left: 9%;
    position: fixed;
    padding: 15px;
    background: rgba(0,0,0,0.9);
    display: inline;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    border: 1px solid #fff;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
}

.new-run{
    width: 50%;
    background-color: rgba(77, 5, 232, 0.9);
    border-radius: 5px;
    float: left;
    display: inline;
    color: white;
    text-align: center;
    margin-right: 3%;
}

.download{
    width: 47%;
    background-color: rgba(30, 130, 76, 0.9);
    border-radius: 5px;
    float: left;
    display: inline;
    color: white;
    text-align: center;

}

.about-main {
    width: 70%;
    height: 70%;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: inline;

}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 30%;
  text-align: center;
  font-family: arial;
  float: left;
  display: inline;
  background: rgba(255,255,255,255.9);
}

.card a {
  text-decoration: none;
  color: black;
}

.card a:hover{
    color: #39b7dd;
}

.emeka
{
  margin:0;
  padding:0;
  font-size:20px;
  line-height:15px;
}
.emeka-job {
  color: grey;
  font-size: 15px;
  margin:0;
  padding:0;
  line-height:30px;
}

.about{
    float: left;
    display: inline;
    padding: 15px;
    width:60%;
    height: 90%;
    background: rgba(0,0,0,0.9);
    overflow: auto;
    border: 1px solid #fff;
    border-radius: 5px;
    color: white;
    font-size:20px;
    text-align: justify;
    text-justify: inter-word;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.demo{
    float: left;
    font-size:20px;
    background: #39b7dd;
    border-radius: 5px;
    display: inline;
    color: white;
    text-align: center;
    width: 10%;
    cursor: pointer;
    line-height: 80px;
    height: 80px;
    border: 1px solid #fff;
    justify-content: center;
    align-items: center;
}
.demo:hover{
    background: white;
    color: #39b7dd;
    border: 1px solid #39b7dd;
}

@media screen and (max-width:1423px){
    .demo{
        width: 9%;
    }
    .about{
        width:50%;
        font-size: 18px;
    }
}
@media screen and (max-width:1000px){
    .demo{
        height: 50px;
        line-height: 50px;
        font-size: 12px;
        width: 9%;
    }
    .about{
        width: 50%;
        font-size: 13px;
    }
    .emeka{
          font-size:10px;
    }
    .emeka-job {
          font-size: 10px;
    }
    .about-main{
        width: 80%;
    }
}


@media screen and (max-width:600px){
    .demo{
        font-size: 10px;
        height: 40px;
        line-height: 40px;
    }
    .about-main{
        width: 85%;
    }
    .progress-bar::before{
        width: 60%;
    }
}



.error-form{
            background-color: rgb(243, 21, 21); color: white; position: fixed; top:85%; width: 50%; left: 25%; border-radius: 5px; padding: 5px; text-align: center; border: 1px solid #fff;
}

.api{
    position: fixed;
    top: 50%;
    left: 50%;
    display: inline;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 15px;
    width:60%;
    height: 78%;
    overflow: auto;
    background: rgba(0,0,0,0.9);
    border: 1px solid #fff;
    border-radius: 5px;
    color: white;
    font-size:20px;
    text-align: justify;
    text-justify: inter-word;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

@media screen and (max-width:1253px){
    .api{
        font-size: 15px;
        height: 70%;
        width: 70%;
    }
}

@media screen and (max-width:808px){
    .api{
        font-size: 14px;
        height: 63%;
        width: 90%;
    }
}

span{
    background: white;
    color: black;
}


.buttons{
    width: 100%;
    height: 50px;
}
.run{

    width: 45%;
    height: 100%;
    margin-right: 8%;
    border-radius: 8px;
    float: left;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    background-color: darkturquoise;
    color: floralwhite;

}
.switcher{
    height: 100%;
    width: 44%;
    float: left;
    justify-items: center;
}

input[type="checkbox"] {
    position: relative;
    width: 100px;
    height: 40px;
    background: #3498db;
    -webkit-appearance: none;
    border-radius: 20px;
    outline: none;
    transition: .4s;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    }

    input:checked[type="checkbox"] {

    background: #bdc3c7;
    }

    input[type="checkbox"]::before {
    z-index: 2;
    position: absolute;
    content: "zipf";
    text-align: center;
    left: 0;
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #069;
    background: #fff;
    border-radius: 50%;
    transform: scale(1.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: .4s;
    }

    input:checked[type="checkbox"]::before {
    left: 60px;
    }

    .toggle {
    position: relative;
    display: inline;
    }

    label {
    position: absolute;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    pointer-events: none;
    }

    .onbtn {
    bottom: 15px;
    left: 15px;
    color: #34495e;
    }

    .ofbtn {
    bottom: 15px;
    right: 14px;

    }


input[type="file"] {
    display: none;
    }

.upload{
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    display: flex;
    margin: auto;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 30px;
    cursor: pointer;
    border-radius: 5px;
}

.upload:hover{
    background: grey;
    color: white;
}