<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <title>Compare</title>
    <script src='https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js'></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <div class='main'>
            <div class='logo'>
                <img src="{{ url_for('static', filename='logo.png') }}">
            </div>
            <ul>
                <li class="active"><a href='#'>Home</a></li>
                <li><a href='#'>Services</a></li>
                <li><a href='#'>Gallery</a></li>
                <li><a href='#'>About</a></li>
                <li><a href='#'>Contact</a></li>
            </ul>
        </div>

        <div class='board'></div>
        <div class='bots'>
		<a href="{{ url_for('home') }}"> <div class='run'>NEW RUN</div></a>
		<a href="{{ url_for('static', filename=name) }}" download='data.json'> <div class='download'>DOWNLOAD</div></a>
        </div>

    </header>
    <script type="text/javascript" src="{{ url_for('static', filename=code) }}"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>