<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <title>CacheTest</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <div class='main'>
            <div class='logo'>
                <a href="{{ url_for('home') }}"><img src="{{ url_for('static', filename='logo.png') }}"></a>
            </div>
            <ul>
                <li class="active"><a href='#'>Home</a></li>
                <li><a href="{{ url_for('about') }}">About</a></li>
                <li><a href="{{ url_for('app_api') }}">API</a></li>
            </ul>
        </div>
        <div class='error' ></div>
        <div class='wrapper'>
            <form id='form' onsubmit="return validate()" action='/compare' method="GET">
                <div class="input-fields">
                    <input type='text' class="input" id='zipf' name='zipf' value='' placeholder="Zipf e.g 1.1" required>
                    <input type='text' class="input" id='noc' name='noc' value='' placeholder="No of Content e.g 20" required>
                    <input type='text' class="input" id='nor' name='nor' value='' placeholder="No of Requests e.g 100" required>
                    <input type='text' class="input" id='csize' name='csize' value='' placeholder="Cache Sizes e.g [5,7]" required>
                </div>
                <input class="btn" type='submit' value='RUN'>
            </form>
        </div>
        <div class='display'>
          <img name='slider' class='slide-node' width='100%' height='100%'>
        </div>
    </header>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="{{ url_for('static', filename='form_valid.js') }}"></script>

</body>
</html>